<table id='arrivals'>
  <thead>
    <tr>
      <th>Destination</th>
      <th>Platform</th>
      <th>Arriving In</th>
      <th>Arriving At</th>
    </tr>
  </thead>
  <tbody>
    <% @arrivals.each do |arrival| %>
      <tr>
        <td>
          <span class="tag <%= arrival.line_id %>"><%= arrival.line_name %></span>
          <%= arrival.destination %>
        </td>
        <td>
          <%= arrival.platform %>
        </td>
        <td>
          <%= format_as_pending_time(arrival.time_to_station) %>
        </td>
        <td>
          <%= format_as_time(arrival.time_to_station) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
